@using Microsoft.AspNetCore.Mvc.Localization;
@{
    ViewData["Title"] = "Home Page";
}
@inject IViewLocalizer ViewLocalizer
<div class="text-center">
    <h1 class="display-4">@ViewLocalizer["Welcome"]</h1>
    <div style="direction:rtl">@ViewLocalizer["p.message"]</div>
</div>
